<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05B30BE1F6F63E3003F336D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05B30D21F6F63E4003F336D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05B30DD1F6F63E4003F336D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
